# yarn (see: https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored)
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.DS_Store
.parcel-cache/
.vscode/
build/
coverage/
docs/.vuepress/dist/
node_modules/
sessions/
smocker
smocker.test
vendor/
yarn-error.log
